@import url('https://fonts.googleapis.com/css2?family=Protest+Riot&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    background-color: rgb(49, 63, 128);
    font-family: "Protest Riot", sans-serif;
    color: whitesmoke;

}

h1{
    font-size: 40px;
}

.formulario{
    padding: 40px;
    border: 1px solid white;
    border-radius: 10px;
    font-size: 20px;
    color: rgb(255, 255, 255);
}

input{
    border-radius: 10px;
    padding: 5px;
}

.enviar{
    width: 100%;
    background-color: white;
    border: none;
    font-family: "Protest Riot", sans-serif;
    font-size: 15px;
    transition: 0.5s;
    cursor: pointer;
}

.enviar:hover{
    background-color: rgb(116, 142, 228);
    color: black;
}

.information{
    font-size: 20px;
}