body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}
form {
    background-color: #fff;
    padding: 20px;
    margin: 20px auto;
    max-width: 400px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
form input[type="text"] {
    width: calc(100% - 20px);
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
form a {
    display: block;
    margin-top: 10px;
    text-decoration: none;
    color: #007bff;
}
form a:hover {
    text-decoration: underline;
}
a {
    display: block;
    width: max-content;
    margin: 20px auto;
    text-align: center;
    color: #007bff;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}